<nav class="nri-subnav nri-subnav--tabs" aria-label="NRI Corner">
  <a href="nri-legal.html" data-page="nri-legal">Legal Information</a>
  <a href="nri-loan.html" data-page="nri-loan">Loan for NRIs</a>
  <a href="nri-faqs.html" data-page="nri-faqs">NRI FAQs</a>
  <a href="international-offices.html" data-page="international-offices">Our International Offices</a>
  <a href="nri-enquire.html" data-page="nri-enquire">Enquire Now</a>
  <a href="nri-home-fest.html" data-page="nri-home-fest">NRI Home Fest</a>
</nav>
