        <div class="nav-dropdown">
          <button type="button" class="nav-link nav-dropdown-toggle">NRI Corner</button>
          <div class="nav-dropdown-menu">
            <a href="pages/nri-legal.html">Legal Information</a>
            <a href="pages/nri-loan.html">Loan for NRIs</a>
            <a href="pages/nri-faqs.html">NRI FAQs</a>
            <a href="pages/international-offices.html">Our International Offices</a>
            <a href="pages/nri-enquire.html">Enquire Now</a>
            <a href="pages/nri-home-fest.html">NRI Home Fest</a>
          </div>
        </div>
